<div layout-margin class="rjTextColor background">
	<div layout="row" layout-align="center center" layout-margin>
		<img alt="Routejoot Icon" src="images/logo.png" class="banner_image" >
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Users Terms and Conditions</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>Welcome to <b>ROUTE JOOT</b>. The following terms and conditions, including our Privacy Policy are referred to as the "Agreement" or these
			   "Terms" and form a binding agreement between you and ROUTE JOOT INC, (referred to as "we," "us" or "our") 
			   and govern your use of this website and other online areas owned or operated by us, such as our Facebook, Twitter, Instagram programs, 
			   as well as the proprietary and co-branded applications for mobile devices (the "Applications") that are used separately or in connection with our online places (individually and collectively referred to herein as the "Site").
			   The term "you" refers to the person accessing or using the Site or our Services, or the company or organization on whose behalf that person accesses the Site or our Services.
			</p>
		</div>
		<div layout="row" layout-align="start center" >
			<p>
				Please review the following terms carefully. By using the Site (including the Applications) or any of our Services (defined below), you are agreeing to these Terms, including our Privacy Policy, and that all of these Terms will govern your use of the Site and our Services. 
				By accessing, using or downloading any materials from the Site, you agree to follow and be bound by the Terms, which may be updated by us from time to time without notice to you. You can review the most current version of the Terms at any time at Terms of Use. 
				We and our third party providers may make improvements and/or changes in the products, services, mobile applications, features, programs, and prices described in this Site (including the Applications) at any time without notice. 
				Certain provisions of the Terms may be supplemented or superseded by expressly designated legal notices or terms located on particular pages at this Site.
				The Site (including the Applications) is not intended for and is not designed to attract children under 13 years of age. If you do not agree with the Terms, please do not use this Site. BY CONTINUING TO USE THE SITE, YOU ARE INDICATING YOUR AGREEMENT TO THE TERMS AND ALL REVISIONS THEREOF.
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Conditional Use of ROUTE JOOT</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				Your permission to use <b>ROUTE JOOT</b> is conditioned upon your agreement that you:
			</p>			
		</div>
		<div layout="column">
			<ul>
				<li>Are 18 years of age or older.</li>
				<li>Will comply with these Terms;</li>
				<li>Will not copy or distribute any part of <b>ROUTE JOOT</b> in any medium without our prior written authorization;</li>
				<li>Will provide accurate information when creating an account or registering for our Site or Services;</li>
				<li>Are solely responsible for your User ID and the activity that occurs while signed in to or while using <b>ROUTE JOOT</b> using your User ID;</li>
				<li>Will not use <b>ROUTE JOOT</b> to collect any personally identifiable information, including account names, email addresses, or other such information, for commercial purposes;</li>
				<li>Will not use the communication systems provided by or contacts made on <b>ROUTE JOOT</b> for any commercial solicitation purposes;</li>
				<li>Are solely responsible for the content submissions, including routes or trips posted, profile information and links, pictures, and other such content that you submit or post to <b>ROUTE JOOT</b> (your "Content")</li>
				<li>Represent that you own or have the necessary licenses, rights, permissions, and consents to use and authorize us to use any and all of Your Content in accordance with the licenses granted in this Agreement;</li>
				<li>Hereby grant to us and to each <b>ROUTE JOOT</b> user, whether using the Site or an application authorized by us but developed via a third-party developer, a non-exclusive license to access Your Content and to use, reproduce, distribute, prepare derivative works of, display and perform Your Content as permitted through <b>ROUTE JOOT</b> functionality and under these Terms;</li>
				<li>Will not submit as Your Content and materials that are copyrighted or subject to third party proprietary rights, including privacy, publicity, trade secret, etc., unless you are the owner of such rights or have the appropriate permission from their rightful owner to specifically submit the same as Your Content.</li>
				<li>Hereby affirm we have the right to determine whether any of Your Content submissions are appropriate and comply with these Terms, remove any and/or all of your submissions, and terminate your account with or without prior notice.</li>
			</ul>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Your Account And Profile</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				You will need to register by creating an account with us, either by registering directly with us, or by allowing a <b>ROUTE JOOT</b> application to connect through your Facebook profile, in order to publish Your Content on the Site or obtain access to certain Services. 
				If you choose to create an account profile with us you will become a Registered Member of the Services, you agree to provide only accurate and complete registration information, and you will keep that information up-to-date if it changes. 
				Access to our Site and Services is not authorized by any other person or entity using your User ID, and you are responsible for preventing such unauthorized use. 
				Individuals and entities whose privilege to access the Site or use the Services has previously been terminated by ROUTE JOOT may not register for an account, nor may you designate any of those individuals to use your account on your behalf. 
				ROUTE JOOT relies on User IDs to know whether users accessing the Site and using our Services are authorized to do so. 
				If someone accesses our Site or Services using a User ID that we've issued to you, we will rely on that User ID and will assume that access has been made by you. You are solely responsible for any and all access to the Site or use of the Services by persons using your User ID. 
				Please notify us immediately if you become aware that your User ID is being used without authorization.
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Non-Confidentiality, Security And Privacy</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				You understand that much of the information that you submit to us (such as postings, 
				invitations and recorded activity data) is submitted precisely for the purpose of disclosure in a variety of 
				ways by ROUTE JOOT, and that we use much of this information to provide services on the Site for which you have 
				expressed interest. 
				Therefore, such information is not subject to any confidentiality obligation.
			</p>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				Any communications between you and ROUTE JOOT such as email or other correspondence, 
				in which you offer suggestions or comments for improving or modifying our Site (including the Applications) or Services, 
				will be deemed by us to be non-confidential and non-proprietary, and you agree that such information may be used by us 
				without any limitation whatsoever.
			</p>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				When you visit the Site or use the Services, whether as a Registered Member or a non-registered user just browsing (any of these, a "ROUTE JOOT User"), 
				our servers automatically record information that your browser sends whenever you visit our Site or use the Services ("Log Data"). 
				This Log Data may include information such as your computer's Internet Protocol ("IP") address, 
				browser type or the webpage you were visiting before you came to our Site and Applications, or Services, pages of our Site, 
				including our Applications, that you visit, the time spent on those pages, information you search for on our Site or within our Services, including the Applications, access times and dates, 
				and other statistics. We use this information to monitor and analyze use of the Site or Services, for the technical administration of the Site or Services, and to increase functionality and user-friendliness, 
				and to better tailor our Site or Services, to the needs of ROUTE JOOT Users. For example, some of this information is collected so that when you visit the Site or use the Applications or Services, again, 
				you will be recognized and you will receive advertisements and other information appropriate to your interests. We also use this information to verify that ROUTE JOOT Users meet the criteria required to process their requests.
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Rules Regarding Information And Other Content</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				When you use the Site or Services, you can publish and obtain access to various kinds of information and materials, 
				all of which we call "Content." Content also includes information and materials posted to the Site or Services, 
				by you and are User Content. You agree not to revise or obscure Content posted by others (including advertising and promotions authorized by ROUTE JOOT), 
				 and you agree not to post or use any Content in any manner that:
			</p>
		</div>
		<div layout="column">
			<ul>
				<li>infringes the copyright, trademark, trade secret, or other intellectual property or proprietary right of others,</li>
				<li>violates the privacy, publicity, or other rights of third parties,</li>
				<li>is unlawful, defamatory, discriminatory, libelous, pornographic, obscene, abusive, threatening, harassing, pornographic, hateful, or encourages conduct that would be considered a criminal offense, give rise to civil liability, violate any law, or is otherwise inappropriate, as determined by us in our sole discretion,</li>
				<li>is false or inaccurate, or</li>
				<li>could damage our company, parent company, sister companies, affiliates, advertisers, or other parties.</li>
			</ul>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				Though we strive to enforce these rules with all ROUTE JOOT Users, you may be exposed through the Site or Services, to Content that violates our policies or is otherwise offensive. You may use the Site or Services, as permitted by this Agreement, but such use is at your own risk. 
				We may, but are not obligated to, terminate user accounts and/or remove Content from the Site or Services, if we determine or suspect that those accounts or Content violate the terms of this Agreement or the applicable agreement with the offending user(s). We take no responsibility for your exposure to Content on the Site or Services, 
				whether it violates our content policies or not.
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">General Rules Of User Conduct</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				It is our goal to make the use of our Site or Services, a good experience for all of our users. The Site, 
				Applications and Services function as a venue where ROUTE JOOT Users may, among other things, 
				connect and interact with each other. As a neutral facilitator, we are not directly involved in the actual transactions between ROUTE JOOT Users. 
				As a result, we do not have control over the truth, accuracy, quality, legality, or safety of postings made by ROUTE JOOT Users, 
				and we shall have no responsibility to confirm the identity of ROUTE JOOT Users. We also do not have any responsibility to confirm or verify the qualifications, background, or abilities of ROUTE JOOT Users. 
				You shall at all time exercise common sense and good judgment when dealing with any ROUTE JOOT User and you represent and commit to us that you are fully responsible for your own actions or inactions with respect to your interactions with ROUTE JOOT Users. 
				When using ROUTE JOOT, you agree not to do any of the following:
			</p>
		</div>
		<div layout="column">
			<ul>
				<li>conduct or promote any illegal activities while using the Site or Services;</li>
				<li>upload, distribute or print anything that may be harmful to minors;</li>
				<li>attempt to ROUTE JOOTse engineer or jeopardize the correct functioning of the Site (including the Applications) or Services, or otherwise attempt to derive the source code of the software (including the tools, methods, processes, and infrastructure) that enables or underlies the Site (including the Applications) or Services;</li>
				<li>attempt to gain access to secured portions of the Site or Services, to which you do not possess access rights;</li>
				<li>upload or transmit any form of virus, worm, Trojan horse, or other malicious code;</li>
				<li>use the Site (including the Applications) or Services, to generate unsolicited email advertisements or spam;</li>
				<li>use any automatic or manual process to search or harvest information from the Site (including the Applications) or Services, or to interfere in any way with the proper functioning of the Site or Services; or</li>
				<li>impersonate another ROUTE JOOT User.</li>
			</ul>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Links To Third Party Sites</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				We don't have control over websites that are linked from the Site or Services. 
				ROUTE JOOT may contain links to third party websites, applications, programs or services that are not owned, operated, or controlled by us. 
				Therefore, we cannot and do not assume responsibility for the content, privacy policies, or practices of such websites, applications, programs, or services, or the companies that own them. 
				Additionally, we cannot and will not censor or edit the content of any third party provider. 
				By using ROUTE JOOT you expressly relieve us from any and all liability arising from your use of any third party website, application, program or service.
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Disclaimer of Warranties and Liability</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				We provide the Site (including the Applications) and Services "as is", "with all faults" and "as available." 
				We and our suppliers and Merchants make no express warranties or guarantees about the Site (including the Application) or Services
				 TO THE MAXIMUM EXTENT PERMITTED BY LAW, WE AND OUR OFFICERS, DIRECTORS, AGENTS, VENDORS, AND MERCHANTS DISCLAIM IMPLIED WARRANTIES THAT THE SITE (INCLUDING THE APPLICATIONS) OR SERVICES, 
				 ARE MERCHANTABLE, OF SATISFACTORY QUALITY, ACCURATE, TIMELY, FIT FOR A PARTICULAR PURPOSE OR NEED, OR NON-INFRINGING. WE DO NOT GUARANTEE THAT ROUTE JOOT WILL MEET YOUR REQUIREMENTS, IS ERROR-FREE, RELIABLE, WITHOUT INTERRUPTION OR BE AVAILABLE AT ALL TIMES. 
				 WE DO NOT GUARANTEE THAT THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF ROUTE JOOT, INCLUDING THE APPLICATIONS AND SERVICES, WILL BE EFFECTIVE, RELIABLE, ACCURATE OR MEET YOUR REQUIREMENTS. 
				 WE MAKE NO WARRANTIES AS TO PRIVACY AND SECURITY OTHER THAN AS EXPRESSLY STATED IN THE PRIVACY POLICY. 
				 WE DO NOT GUARANTEE THAT YOU WILL BE ABLE TO ACCESS OR USE THE SITE (INCLUDING THE APPLICATIONS) OR SERVICES, 
				 AT TIMES OR LOCATIONS OF YOUR CHOOSING. NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY US OR ANY OF OUR EMPLOYEES OR AGENTS SHALL CREATE A WARRANTY. 
				 You may have additional consumer rights under your local laws that this Agreement cannot change.
			</p>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				THE ROUTE JOOT SITE (INCLUDING THE APPLICATIONS) AND SERVICES, ARE INTENDED FOR ENTERTAINMENT AND EDUCATIONAL PURPOSES ONLY. ROUTE JOOT,  MAKES NO GUARANTEES, REPRESENTATIONS OR WARRANTIES RESPECTING THE RELIABILITY OF SITE (INCLUDING THE APPLICATIONS) OR SERVICES, OR ANY GPS DATA OR COMPONENT THEREOF. 
				THIS SITE AND SERVICES ARE NOT SUBJECT TO REVIEW, OR TESTED, APPROVED OR CERTIFIED BY, ANY GOVERNMENT OR PRIVATE AGENCY FOR USE IN CONNECTION WITH 
				(I) NAVIGATION, DRIVING, RIDING OR AVIATION ACTIVITIES, (II) LIFE SAFETY ACTIVITIES, (III) MOTOR OR OTHER VEHICLES OR VESSELS OF ANY KIND, OR (IV) ANY OTHER PURPOSE OR USE. 
				ANY USE OF THE SITE (INCLUDING THE APPLICATIONS) OR SERVICES, FOR ANYTHING OTHER THAN ENTERTAINMENT OR EDUCATIONAL PURPOSES, INCLUDING FOR ANY ACTIVITY IN WHICH THE USER'S HEALTH OR SAFETY IS POTENTIALLY AT RISK AND FOR WHICH THE ACCURACY OR RELIABILITY OF GPS DATA OR COMPONENT IS CRITICALLY REQUIRED, COULD RESULT IN DAMAGE TO PERSON OR PROPERTY, 
				UP TO AND INCLUDING INJURY OR DEATH. ROUTE JOOT,  SPECIFICALLY DISCLAIMS ANY AND ALL LIABILITY, INCLUDING WITHOUT LIMITATION, CONSEQUENTIAL AND INCIDENTAL DAMAGES THAT MAY ARISE IN ANY WAY FROM THE USE OR RELIANCE ON THE SITE (INCLUDING THE APPLICATIONS) OR SERVICES, OR ANY RELATED DATA.
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Limitations of Liability</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY DISPUTE WITH US IS TO DISCONTINUE YOUR USE OF ROUTE JOOT. 
				IN NO EVENT SHALL OUR LIABILITY, OR THE LIABILITY OF OUR AFFILIATES, OFFICERS, DIRECTORS, AGENTS, VENDORS, OR MERCHANTS, FOR ANY AND ALL CLAIMS RELATING TO THE USE OF THE SITE (INCLUDING THE APPLICATIONS) OR SERVICES, EXCEED THE TOTAL AMOUNT OF FEES THAT YOU PAID US DURING THE PREVIOUS ONE-YEAR PERIOD FOR THE SPECIFIC SITE, APPLICATION OR SERVICE AT ISSUE. 
				WE, OUR AFFILIATES, OFFICERS, DIRECTORS, AGENTS, VENDORS, AND MERCHANTS, SHALL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES ARISING FROM YOUR USE OF, INABILITY TO USE, OR RELIANCE UPON THE SITE (INCLUDING THE APPLICATIONS) OR SERVICES. THESE EXCLUSIONS APPLY TO ANY CLAIMS FOR LOST PROFITS, LOST DATA, LOSS OF GOODWILL, WORK STOPPAGE, 
				COMPUTER FAILURE OR MALFUNCTION, OR ANY OTHER COMMERCIAL OR PERSONAL DAMAGES OR LOSSES, 
				EVEN IF WE KNEW OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. IF ANY JURISDICTION DOES NOT ALLOW THE EXCLUSION OR THE LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH JURISDICTION, OUR LIABILITY, AND THE LIABILITY OF OUR AFFILIATES, OFFICERS, DIRECTORS, AGENTS, VENDORS, AND MERCHANTS, SHALL BE LIMITED TO THE FULL EXTENT PERMITTED BY LAW.
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Indemnity</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				You agree to defend, indemnify and hold harmless ROUTE JOOT, its parent company, officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to reasonable attorney's fees) arising from: (i) your use of and access to ROUTE JOOT; 
				(ii) your violation of any term of these Terms; (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right; or (iv) any claim that any Content submitted by you causes damage to a third party. This defense and indemnification obligation will survive these Terms and your use of ROUTE JOOT.
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Reservation of Rights and Release</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				We reserve the right, but have no obligation, to monitor, or take any action we deem appropriate regarding disputes that you may have with other ROUTE JOOT Users or third party vendors. To the extent the law permits, you release us from any claims or liability related to any Content posted on the Site and from any claims related to the conduct of any ROUTE JOOT Users or third party vendors. 
				You hereby waive California Civil Code Section 1542 (if you are a California resident), and any similar provision in any other jurisdiction (if you are a resident of such jurisdiction), which states: "A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his settlement with the debtor."
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Intellectual Property</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				You acknowledge and agree that we and our licensors retain ownership of all intellectual property rights of any kind related to the Site (including the Applications) or Services, including applicable copyrights, trademarks and other proprietary rights. 
				We are not granting any license to you under any of those intellectual property rights by virtue of this Agreement, except for the limited right to use the Site or Services, in accordance with this Agreement. "ROUTE JOOT" is our trademark. 
				Other product and company names that are mentioned on the Site or provided as part of the Services may be trademarks of their respective owners. 
				We reserve all rights that are not expressly granted to you in this Agreement.
			</p>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				The Content on ROUTE JOOT, excluding all intellectual property of other sites obtained by way of API and linking and Content posted by ROUTE JOOT Users, 
				is owned by us or our licensors. This includes, without limitation, the text, software, scripts, graphics, photos, sounds, interactive features and the trademarks, service marks and logos contained therein ("Marks"). The Marks are owned or licensed to ROUTE JOOT, 
				subjected to copyright and other intellectual property rights under United States law, the law of the jurisdiction where you reside, and international conventions. Content provided by us is provided to you "AS IS" for your information and personal use only and may not be used, copied, reproduced, 
				modified, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever without the prior written consent of the respective owners. We reserve all rights not expressly granted in and to the Site (including the Applications) or Services			
			</p>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				As between you and us, you retain any intellectual property rights in any copyrighted materials and trademarks that are contained in Content that you post to the Site. 
				You grant us an irrevocable, perpetual, non-exclusive, royalty-free, fully paid, worldwide license, with rights to sublicense through multiple levels of sublicensees, to reproduce, 
				make derivative works of, translate, distribute, publicly perform and publicly display in any form or medium, whether now known or later developed, make, use, sell, import, offer for sale, otherwise commercially exploit and exercise any and all such rights, 
				under any and all of your intellectual property rights related to the Content in any manner we choose. 
				If you have any rights to the Content that cannot be licensed to us (such as moral rights in some countries), you unconditionally and irrevocably waive the enforcement of such rights, and all claims and causes of action of any kind against us or related to ROUTE JOOT Users and partners anywhere in the world, 
				with respect to such rights.
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Electronic Communications</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				The communications between you and ROUTE JOOTuse electronic means, whether you visit the Site, use the Applications or the Services, 
				or send us emails, or whether ROUTE JOOT posts notices on the Site or communicates with you via email. For contractual purposes, you (a) consent to receive communications from ROUTE JOOT in an electronic form; and (b) 
				agree that all terms and conditions, agreements, notices, disclosures, and other communications that ROUTE JOOT provides to you electronically satisfy any legal requirement that such communications would satisfy if it were in writing. 
				The foregoing does not affect your non-waivable rights.
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Entire Agreement, Changes to this Agreement and Waivers</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				We may change the terms of this Agreement from time to time on a going-forward basis, and any such modifications become effective immediately upon being posted to the Site. 
				It is your sole responsibility to check the Site from time to time to view any such changes in the Agreement. If you do not agree to any changes, if and when such changes may be made to the Agreement, 
				you must cease use of the Site (including the Applications) and Services. Your use of the Site (including the Applications) and the Services, after any modifications to the Agreement indicates that you agree to such modified Agreement. 
				Any changes to this Agreement (other than as set forth in this paragraph) or waiver of our rights hereunder shall not be valid or effective except in a written agreement bearing the physical signature of an officer of ROUTE JOOT, . 
				No purported waiver or modification of this Agreement by us via telephonic or email communications shall be valid.
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Termination</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				You agree that we may, under certain circumstances and without prior notice, immediately terminate your account and/or access to the Site (including the Applications) or Services. Cause for such termination may include, but not be limited to, 
				(a) breaches or violations of the Terms or other incorporated agreements or guidelines, (b) requests by law enforcement or other government agencies, (c) a request by you (self-initiated account deletions), 
				(d) discontinuance or material modification to the Site (including the Applications) or Services (or any portion thereof), (e) unexpected technical or security issues or problems, (f) extended periods of inactivity, and/or 
				(g) nonpayment of any fees owed by you in connection with the Site (including the Applications) or Services. Termination of your account may include (x) removal of access to all offerings within the Site (including the Applications) and Services, 
				(y) deletion of your information, files and Content associated with or inside your account, and (z) barring of further use of the Site or Services. 
				Further, you agree that all terminations for cause shall be made in our sole discretion and that we shall not be liable to you or any third party for any termination of your account or access to the Site or Services.
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">Applicable Laws</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				This Site and Services are controlled by us from our offices within the India. We make no representation that the Content in the Site or Services are appropriate or available for use in other locations, and access to them from territories where their content or use is illegal is prohibited. 
				Those who choose to access this Site or use the Services from locations outside of India do so on their own initiative and are responsible for compliance with applicable local laws. You hereby consent and submit to the exclusive jurisdiction and venue in the state and federal courts located in Bangalore, 
				Karnataka for any legal proceedings related to the Site, the Services or the Terms. If any party hereto brings any suit or action against another for relief, declaratory or otherwise, arising out of these Terms, the prevailing party will have and recover against the other party, in addition to all court costs and disbursements, such sum as the court may adjudge to be reasonable attorneys' fees. 
				Except to the extent prohibited by applicable law, the parties agree that any claim or cause of action arising out of or related to use of the Site, the Services or the Terms must be filed within one (1) year after such claim or cause of action arose or be for ROUTE JOOT barred.
			</p>
		</div>
	</div>
	
	<div layout-margin class="rjTextColor">
		<div layout="row" layout-align="start center">
			<h4 class="headings" style="font-weight: bold;">General</h4>
		</div>
		<div layout="row" layout-align="start center">
			<p>
				You agree that no joint venture, partnership, employment or agency relationship exists between us as a result of the Terms or your use of the Site (including the Applications) or the Services.
				 The Terms constitute the entire agreement between us with respect to your use of the Site (including the Applications) or the Services. 
				 Our failure to exercise or enforce any right or provision of the Terms shall not constitute a waiver of such right or provision. 
				 If any provision of the Terms is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, 
				 and the other provisions of the Terms remain in full force and effect. You may not assign, delegate or otherwise transfer your account or your obligations under these Terms without our prior written consent. 
				 We have the right, in our sole discretion, to transfer or assign all or any part of our rights under these Terms and we will have the right to delegate or use third party contractors to fulfill our duties and obligations under these Terms and in connection with the Site or the Services.
			</p>
		</div>
	</div>
	
</div>