<md-content class="rjTextColor background">
	<!-- BEGIN Event Summary -->
	<div layout-margin class="rjTitleColor">
		<p>EVENT SUMMARY</p>
	</div>
	<!-- BEGIN Event Summary Chart -->
	<!--<div layout="column" class="splitDivColor rideDivColor">
		<div style="margin-top:10px">
			<canvas id="eventSummary" height="300" class="chart chart-line" chart-data="eventSummaryData" chart-labels="eventSummaryLabels" chart-series="eventSummarySeries" chart-options="eventSummaryOptions" chart-dataset-override="eventSummaryDataset">
			</canvas>
		</div>	
	</div>-->
	<!-- END Event Summary Chart -->
	
	<!-- BEGIN Distance wise Event Analysis Graph -->
	<div layout="column" class="splitDivColor rideDivColor">
		<div style="margin-top:10px">
			<canvas id="disatancewiseEventChart" height="200" class="chart chart-bar" 
			chart-data="disatancewiseEventAnalysisData" 
			chart-labels="disatancewiseEventAnalysisLabels"  
			chart-series="disatancewiseEventAnalysisSeries" 
			chart-options="disatancewiseEventAnalysisOptions" 
			chart-dataset-override="disatancewiseEventAnalysisDataset"></canvas>
		</div>
	</div>
	<!-- END Distance wise Event Analysis Graph -->
	
	<!-- BEGIN Time wise Event Analysis Graph -->
	<!--<div layout="column" class="splitDivColor rideDivColor">
		<div style="margin-top:10px">
			<canvas id="timewiseEventChart" height="200" class="chart chart-bar" 
			chart-data="timewiseEventAnalysisData" 
			chart-labels="timewiseEventAnalysisLabels"  
			chart-series="timewiseEventAnalysisSeries" 
			chart-options="timewiseEventAnalysisOptions" 
			chart-dataset-override="timewiseEventAnalysisDataset"></canvas>
		</div>
	</div>-->
	<!-- END Time wise Event Analysis Graph -->
	
	<!-- BEGIN avg speed Event Analysis Graph -->
	<div layout="column" class="splitDivColor rideDivColor">
		<div style="margin-top:10px">
			<canvas id="avgSpeedEventChart" height="200" class="chart chart-bar" 
			chart-data="avgSpeedEventAnalysisData" 
			chart-labels="avgSpeedEventAnalysisLabels"  
			chart-series="avgSpeedEventAnalysisSeries" 
			chart-options="avgSpeedEventAnalysisOptions" 
			chart-dataset-override="avgSpeedEventAnalysisDataset"></canvas>
		</div>
	</div>
	<!-- END avg speed Event Analysis Graph -->
	
	<!-- END Event Summary -->
</md-content>