<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>RouteJoot - Reset Password</title>
        <link rel="shortcut icon" href="/images/favicon.png">
        <script src="/site-config.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <link href="/styles/rj-style.css" rel="stylesheet">
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/node_modules/toastr/build/toastr.min.css">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/app/scripts/others/rj-script.js"></script>
        <script src="/node_modules/toastr/build/toastr.min.js"></script>
    </head>
    <body id="reset_pg">

      <div class="row">

          <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 text-center frm-center">
              <img src="/images/logo.png" alt="logo" class="" width="100px" height="100px" />
             <div class="col-md-10 frm-center">
              <form role="form" class="mt-tb-xx">
                  <div class="form-group">
                    <input type="password" class="text-line form-control " id="new_pwd" placeholder="New Password">
                    <span id="OldPwdError" class="errorText hide">*Password required.</span>
	                  <span id="OldPwdError1" class="errorText hide">*Password entered is invalid</span>
                  </div>
                  <div class="form-group">
                    <input type="password" class="text-line form-control " id="cnfrm_pwd" placeholder="Comfirm Password">
                    <span id="NewPwdError" class="errorText hide">*Password required.</span>
                    <span id="NewPwdError1" class="errorText hide">*Passwords did not match.</span>
                  </div>
                  <button type="button" class="btn btn-block btn_yellow" id="showtoast" onclick="validateFields()">Reset Password</button>
                </form>
              </div>
          </div>
      </div>
    </body>
</html>
